*{
  scroll-behavior: smooth;
}

.mainDiv {
  padding-bottom: 20px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto;
  grid-template-rows: auto;

}
.imageDiv{
  padding: 20px;
  border: solid 1px;
  background-color: whitesmoke;
}

img{
  height: 300px;
  border-radius: 2%;
}
.newsDes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 23px;
}
.newsHeading {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:32px;
  font-weight: 800;
}
a{
  text-decoration: none;
}
a:hover {
  color: red;;
}

.newsfooter {
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  height: 70px;
  justify-content: start;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.footer{
  background-color: black;
  display: flex;
  justify-content: space-between;
  height: 300px;
  color: white;
}